# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

In [1]:
!pip install dlt[duckdb] # Install dlt with all the necessary DuckDB dependencies

Collecting dlt[duckdb]
  Downloading dlt-0.4.4-py3-none-any.whl (540 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 540.7/540.7 kB 6.3 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (6.0.1)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2.0.25)
Requirement already satisfied: astunparse>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (1.6.3)
Requirement already satisfied: click>=7.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (8.1.7)
Requirement already satisfied: fsspec>=2022.4.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2023.6.0)
Collecting gitpython>=3.1.29 (from dlt[duckdb])
  Downloading GitPython-3.1.41-py3-none-any.whl (196 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 196.4/196.4 kB 10.9 MB/s eta 0:00:00
Collecting giturlparse>=0.10.0 (from dlt[duckdb])
  Downloading giturlparse-0.12.0-py2.py3-none-any.whl (15 kB)
Collecting hexbytes>=0.2.2 (from dlt[duckdb])
  Downloading hexbytes-1.0.0-py3-none-any.whl (5.9 kB)
Requirement already satisfied: humanize>=4.4.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (4.7.0)
Collecting jsonpath-ng>=1.5.3 (from dlt[duckdb])
  Downloading jsonpath_ng-1.6.1-py3-none-any.whl (29 kB)
Collecting makefun>=1.15.0 (from dlt[duckdb])
  Downloading makefun-1.15.2-py2.py3-none-any.whl (22 kB)
Collecting orjson<=3.9.10,>=3.6.7 (from dlt[duckdb])
  Downloading orjson-3.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (138 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.7/138.7 kB 10.8 MB/s eta 0:00:00
Requirement already satisfied: packaging>=21.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (23.2)
Collecting pathvalidate>=2.5.2 (from dlt[duckdb])
  Downloading pathvalidate-3.2.0-py3-none-any.whl (23 kB)
Collecting pendulum>=2.1.2 (from dlt[duckdb])
  Downloading pendulum-3.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 9.8 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.6 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2023.4)
Requirement already satisfied: requests>=2.26.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (2.31.0)
Requirement already satisfied: requirements-parser>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (0.5.0)
Collecting semver>=2.13.0 (from dlt[duckdb])
  Downloading semver-3.0.2-py3-none-any.whl (17 kB)
Requirement already satisfied: setuptools>=65.6.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (67.7.2)
Collecting simplejson>=3.17.5 (from dlt[duckdb])
  Downloading simplejson-3.19.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (137 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.9/137.9 kB 12.5 MB/s eta 0:00:00
Requirement already satisfied: tenacity>=8.0.2 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (8.2.3)
Collecting tomlkit>=0.11.3 (from dlt[duckdb])
  Downloading tomlkit-0.12.3-py3-none-any.whl (37 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (4.9.0)
Collecting tzdata>=2022.1 (from dlt[duckdb])
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 13.1 MB/s eta 0:00:00
Requirement already satisfied: duckdb<0.10.0,>=0.6.1 in /usr/local/lib/python3.10/dist-packages (from dlt[duckdb]) (0.9.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (0.42.0)
Requirement already satisfied: six<2.0,>=1.6.1 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.3->dlt[duckdb]) (1.16.0)
Collecting gitdb<5,>=4.0.1 (from gitpython>=3.1.29->dlt[duckdb])
  Downloading gitdb-4.0.11-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 7.5 MB/s eta 0:00:00
Collecting ply (from jsonpath-ng>=1.5.3->dlt[duckdb])
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.6 in /usr/local/lib/python3.10/dist-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Collecting time-machine>=2.6.0 (from pendulum>=2.1.2->dlt[duckdb])
  Downloading time_machine-2.13.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26.0->dlt[duckdb]) (2024.2.2)
Requirement already satisfied: types-setuptools>=57.0.0 in /usr/local/lib/python3.10/dist-packages (from requirements-parser>=0.5.0->dlt[duckdb]) (69.0.0.20240125)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy>=1.4.0->dlt[duckdb]) (3.0.3)
Collecting smmap<6,>=3.0.1 (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb])
  Downloading smmap-5.0.1-py3-none-any.whl (24 kB)
Installing collected packages: ply, makefun, tzdata, tomlkit, smmap, simplejson, semver, pathvalidate, orjson, jsonpath-ng, hexbytes, giturlparse, time-machine, gitdb, pendulum, gitpython, dlt
Successfully installed dlt-0.4.4 gitdb-4.0.11 gitpython-3.1.41 giturlparse-0.12.0 hexbytes-1.0.0 jsonpath-ng-1.6.1 makefun-1.15.2 orjson-3.9.10 pathvalidate-3.2.0 pendulum-3.0.0 ply-3.11 semver-3.0.2 simplejson-3.19.2 smmap-5.0.1 time-machine-2.13.0 tomlkit-0.12.3 tzdata-2024.1

In [4]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

sum=0
i=1

for sqrt_value in generator:
    print("The",i,"th value is",sqrt_value)
    sum=sum+sqrt_value
    if i==5:
      print("The sum of the first 5 values are", sum)
    i=i+1

The 1 th value is 1.0
The 2 th value is 1.4142135623730951
The 3 th value is 1.7320508075688772
The 4 th value is 2.0
The 5 th value is 2.23606797749979
The sum of the first 5 values are 8.382332347441762
The 6 th value is 2.449489742783178
The 7 th value is 2.6457513110645907
The 8 th value is 2.8284271247461903
The 9 th value is 3.0
The 10 th value is 3.1622776601683795
The 11 th value is 3.3166247903554
The 12 th value is 3.4641016151377544
The 13 th value is 3.605551275463989

Based on the above output, the sum of the first  5 values is 8.38 while the output of the 13 th one is 3.605

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [6]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [16]:
import dlt
import duckdb
#the piple
generators_pipeline = dlt.pipeline(destination='duckdb', dataset_name='city_data')


# load th first generator
info = generators_pipeline.run(people_1(),
										table_name="individual_data",
										write_disposition="replace")

#append the second generator to the first ome

info =generators_pipeline.run( people_2(),
										table_name="individual_data",
										write_disposition="append")


#Connect to the pipeline


conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")

# connect to the dataset that the table is saved at
conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")

In [17]:
#convert the table to the dataframe
passengers = conn.sql("SELECT * FROM individual_data").df()

In [18]:
passengers.head(10)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707943778.5225136  YIwjOznMXWI3+w       None
1   2  Person_2   27  City_A  1707943778.5225136  l11uVz49lzKtGw       None
2   3  Person_3   28  City_A  1707943778.5225136  xuIJ/W8Hcfv7yA       None
3   4  Person_4   29  City_A  1707943778.5225136  ircrDlvdJzsWjA       None
4   5  Person_5   30  City_A  1707943778.5225136  K3gqFGnJT4xe+w       None
5   3  Person_3   33  City_B  1707943779.3329194  nof+gFY5eeKBfw      Job_3
6   4  Person_4   34  City_B  1707943779.3329194  2MiSIhktW+Medw      Job_4
7   5  Person_5   35  City_B  1707943779.3329194  JudArjaxVT1UuQ      Job_5
8   6  Person_6   36  City_B  1707943779.3329194  iUZT1gC5cpID/w      Job_6
9   7  Person_7   37  City_B  1707943779.3329194  BmB3KFVAa1NT6w      Job_7

In [19]:
#get the sum of the ages
passengers["age"].sum()

353

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

# Solution: First make sure that the following modules are installed:

In [24]:
#the piple
generators_pipeline_merge = dlt.pipeline(destination='duckdb', dataset_name='city_data')


# we can load any generator to a table at the pipeline destnation as follows:
info = generators_pipeline_merge.run(people_1(),
										table_name="individual_data",
										write_disposition="replace")

#merge the data from the second generator using the id as the primary id
info =generators_pipeline_merge.run( people_2(),
										table_name="individual_data",
										write_disposition="merge",   primary_key="id")


#Connect to the pipeline


conn = duckdb.connect(f"{generators_pipeline.pipeline_name}.duckdb")


conn.sql(f"SET search_path = '{generators_pipeline.dataset_name}'")

In [25]:
passengers = conn.sql("SELECT * FROM individual_data").df()

In [26]:
passengers.head(10)

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707943938.4834044  FycpyWjOce6h4A       None
1   2  Person_2   27  City_A  1707943938.4834044  t7KSmhISEqBnoA       None
2   5  Person_5   35  City_B   1707943939.153677  KqJzBR3pzijjBg      Job_5
3   8  Person_8   38  City_B   1707943939.153677  brs2G0VAIw8Pyg      Job_8
4   7  Person_7   37  City_B   1707943939.153677  yoRJuMhFV5vMDg      Job_7
5   4  Person_4   34  City_B   1707943939.153677  ethFLZKs4Z30jA      Job_4
6   3  Person_3   33  City_B   1707943939.153677  0pwOu7FS/z/hjg      Job_3
7   6  Person_6   36  City_B   1707943939.153677  vm1ODxFXjxlfwg      Job_6

In [27]:
len(passengers)

8

In [28]:
#Get the sum of the table after merging the two generators
passengers["age"].sum()

266